/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.composer
.bash_history
.config
.npm
.editorconfig
.gitattributes
.bash_history
env.compose
.docker/dbdata
.env.dev
.idea
