.modal {
  background-color: white;
  border-radius: 10px;
  display: none;
  max-height: calc(100% - 100px);
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  z-index: 990;

  &.modal-is-visible {
    display: block;
    z-index: 1010;
    padding: 20px;
  }

  h1 {
    margin: 0;
    padding: 0;
  }

  .modal-body {
    height: 100%;
    overflow: auto;
    overflow-y: scroll;
    padding: 20px 0;
  }

  .modal-footer .btn {
    color: $primary-font-color
  }

}

.modal-overlay {
  background-color: transparentize(black, .5);
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 980;

  &.modal-is-visible {
    display: block;
    z-index: 1009;
  }

}